html{
    background-image: url('wallpaper.jfif');
    background-repeat: no-repeat;
    font-family: 'helvetica neue';
    text-align:center;
    font-size: 16px;

}
body{
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock{
    width: 200px;
    height: 200px;
    border: 20px solid white;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    padding: 2rem;
}
.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
    
}
.dot{
    width: 10px;
    height: 10px;
    border: 2px solid yellow;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: -10px;
}
.hand{
    width: 50%;
    height: 6px;
    background: yellow;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
/* .digital-clock{
    width: 300px;
    height: 50px;
    border: 2px solid black;
    background-color: white;
} */